<div class="container">
  <h1>Welcome</h1>
  <hr />
  <div class="card mb-4">
    <div class="card-header">
      Scoreboard
    </div>
    <div class="card-body">
      <app-scoreboard></app-scoreboard>
    </div>
  </div>
  <hr />
  <div class="card">
    <div class="card-header">
      Games
    </div>
    <div class="card-body">
      <app-games></app-games>
    </div>
  </div>
  <hr />
  <div class="card">
    <div class="card-header">
      My counter
    </div>
    <div class="card-body">
      <app-my-counter></app-my-counter>
    </div>
  </div>
</div>
